.column-container {
  display: flex;
  
  width: 100%;
  
  overflow-x: scroll;
  overflow-y: hidden;
}

.column {
  
  width: 250px;
  min-width: 250px;
  height: 88vh;
  padding: 1%;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #b7e4c7;
  float: left;
  overflow-y: auto;
}

.tasktitle {
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  float: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  background-color: #b7e4c7;
  display: block;
  color: black;
}

#addcol {
  background-color: whitesmoke;
  border-style: none;
  content: "\002B";
  font-size: 72px;
  margin: 0%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}